# 데이터 전처리(Literacy)

---

## 라이브러리 및 데이터 로드

In [1]:
## 라이브러리 로드
import pandas as pd
import statsmodels.api as sm
import numpy as np
import matplotlib.pyplot as plt
import os

# 경고 메세지 삭제
import warnings
warnings.filterwarnings('ignore')

# 한글 깨짐 방지
import matplotlib.pyplot as plt
plt.rcParams['font.family'] = 'Malgun Gothic'

# pd.set_option('display.max_rows', None)

In [2]:
## 데이터 로드

df = pd.read_excel('../datasets/movie_1.xlsx')

## 흥행 영화 데이터만 추출
* 흥행 영화 : 매출액 > 평균제작비

In [5]:
# index 0번 삭제 및 순번 컬럼 삭제
df.drop('순번', axis=1, inplace=True, errors='ignore')

In [6]:
# 연도만 추출하여 새로운 파생변수 개봉연도 생성
df['개봉일'] = pd.to_datetime(df['개봉일'])
df['개봉연도'] = df['개봉일'].dt.year

In [8]:
# 새로운 파생변수 평균 제작비 컬럼 생성
def change(x):
    if x == 2009:
        result = 23.1
    elif x == 2010:
        result = 21.6
    elif x == 2011:
        result = 22.7
    elif x == 2012:
        result = 20.3
    elif x == 2013:
        result = 21.4
    elif x == 2014:
        result = 20.1
    elif x == 2015:
        result = 19.9
    elif x == 2016:
        result = 24.0
    elif x == 2017:
        result = 26.3
    elif x == 2018:
        result = 26.8
    elif x == 2019:
        result = 29.0
    else:
        result = '!'
    return result

df['평균 제작비'] = df['개봉연도'].apply(change)

In [9]:
df.head()

,영화명,감독,제작사,수입사,배급사,개봉일,영화유형,영화형태,국적,전국스크린수,전국매출액,전국관객수,서울매출액,서울관객수,장르,등급,영화구분,개봉연도,평균 제작비
0,명량,김한민,(주)빅스톤픽쳐스,NaN,(주)씨제이이엔엠,2014-07-30,개봉영화,장편,한국,1587,135748398910,17613682,3.312123e+10,4163666,사극,15세이상관람가,일반영화,2014,20.1
1,극한직업,이병헌,"(주)어바웃잇,영화사 해그림 주식회사,(주)씨제이이엔엠",NaN,(주)씨제이이엔엠,2019-01-23,개봉영화,장편,한국,1978,139647979516,16264944,3.185866e+10,3638287,코미디,15세이상관람가,일반영화,2019,29.0
2,신과함께-죄와 벌,김용화,"리얼라이즈픽쳐스(주),(주)덱스터스튜디오",NaN,롯데쇼핑㈜롯데엔터테인먼트,2017-12-20,개봉영화,장편,한국,1912,115698654137,14410754,2.753083e+10,3346172,판타지,12세이상관람가,일반영화,2017,26.3
3,국제시장,윤제균,"(주)제이케이필름,(주)씨제이이엔엠",NaN,(주)씨제이이엔엠,2014-12-17,개봉영화,장편,한국,966,110828014630,14245998,2.584252e+10,3233946,드라마,12세이상관람가,일반영화,2014,20.1
4,어벤져스: 엔드게임,"안소니 루소,조 루소",NaN,월트디즈니컴퍼니코리아 유한책임회사,월트디즈니컴퍼니코리아 유한책임회사,2019-04-24,개봉영화,장편,미국,2835,122182694160,13934592,3.357714e+10,3597963,액션,12세이상관람가,일반영화,2019,29.0

In [10]:
# 매출액 억단위로 변경
df['수정전국매출액']  =  df['전국매출액'] / 100000000

In [11]:
# 평균 제작비보다 매출액이 더 높은 데이터만 추출
df = df[df['수정전국매출액'] >= df['평균 제작비']]

In [12]:
df.reset_index(drop='index', inplace=True)

In [13]:
df.drop(['수정전국매출액'], axis=1, inplace=True)

In [17]:
# 데이터 csv화
df.to_csv('../datasets/new_data.csv', index=0)

## 컬럼 삭제 및 수정

In [18]:
## 흥행영화 데이터 로드
new_df = pd.read_csv('../datasets/new_data.csv')

In [19]:
new_df.head()

,영화명,감독,제작사,수입사,배급사,개봉일,영화유형,영화형태,국적,전국스크린수,전국매출액,전국관객수,서울매출액,서울관객수,장르,등급,영화구분,개봉연도,평균 제작비
0,명량,김한민,(주)빅스톤픽쳐스,NaN,(주)씨제이이엔엠,2014-07-30,개봉영화,장편,한국,1587,135748398910,17613682,3.312123e+10,4163666,사극,15세이상관람가,일반영화,2014,20.1
1,극한직업,이병헌,"(주)어바웃잇,영화사 해그림 주식회사,(주)씨제이이엔엠",NaN,(주)씨제이이엔엠,2019-01-23,개봉영화,장편,한국,1978,139647979516,16264944,3.185866e+10,3638287,코미디,15세이상관람가,일반영화,2019,29.0
2,신과함께-죄와 벌,김용화,"리얼라이즈픽쳐스(주),(주)덱스터스튜디오",NaN,롯데쇼핑㈜롯데엔터테인먼트,2017-12-20,개봉영화,장편,한국,1912,115698654137,14410754,2.753083e+10,3346172,판타지,12세이상관람가,일반영화,2017,26.3
3,국제시장,윤제균,"(주)제이케이필름,(주)씨제이이엔엠",NaN,(주)씨제이이엔엠,2014-12-17,개봉영화,장편,한국,966,110828014630,14245998,2.584252e+10,3233946,드라마,12세이상관람가,일반영화,2014,20.1
4,어벤져스: 엔드게임,"안소니 루소,조 루소",NaN,월트디즈니컴퍼니코리아 유한책임회사,월트디즈니컴퍼니코리아 유한책임회사,2019-04-24,개봉영화,장편,미국,2835,122182694160,13934592,3.357714e+10,3597963,액션,12세이상관람가,일반영화,2019,29.0

In [20]:
## 데이터 기본정보 확인
new_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 918 entries, 0 to 917
Data columns (total 19 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   영화명     918 non-null    object
 1   감독      917 non-null    object
 2   제작사     495 non-null    object
 3   수입사     486 non-null    object
 4   배급사     918 non-null    object
 5   개봉일     918 non-null    object
 6   영화유형    918 non-null    object
 7   영화형태    918 non-null    object
 8   국적      918 non-null    object
 9   전국스크린수  918 non-null    int64
 10  전국매출액   918 non-null    int64
 11  전국관객수   918 non-null    int64
 12  서울매출액   918 non-null    float64
 13  서울관객수   918 non-null    int64
 14  장르      918 non-null    object
 15  등급      918 non-null    object
 16  영화구분    918 non-null    object
 17  개봉연도    918 non-null    int64
 18  평균 제작비  918 non-null    float64
dtypes: float64(2), int64(5), object(12)
memory usage: 136.4+ KB

In [21]:
## 데이터 기초통계량 확인
new_df.describe()

,전국스크린수,전국매출액,전국관객수,서울매출액,서울관객수,개봉연도,평균 제작비
count,918.000000,9.180000e+02,9.180000e+02,9.180000e+02,9.180000e+02,918.000000,918.000000
mean,703.273420,1.605588e+10,2.027391e+06,4.493701e+09,5.421701e+05,2014.448802,23.089760
std,383.511663,1.941225e+10,2.416330e+06,5.253331e+09,6.260581e+05,2.817048,2.990881
min,22.000000,1.997947e+09,2.382570e+05,3.836368e+08,4.784000e+04,2010.000000,19.900000
25%,431.250000,4.193747e+09,5.385425e+05,1.181997e+09,1.468915e+05,2012.000000,20.300000
50%,604.500000,8.781386e+09,1.127378e+06,2.408886e+09,3.015610e+05,2014.000000,21.600000
75%,889.750000,1.984343e+10,2.515239e+06,5.549947e+09,6.790908e+05,2017.000000,26.300000
max,2835.000000,1.396480e+11,1.761368e+07,3.357714e+10,4.163666e+06,2019.000000,29.000000

In [22]:
## 데이터 결측치 확인
new_df.isna().sum()

영화명         0
감독          1
제작사       423
수입사       432
배급사         0
개봉일         0
영화유형        0
영화형태        0
국적          0
전국스크린수      0
전국매출액       0
전국관객수       0
서울매출액       0
서울관객수       0
장르          0
등급          0
영화구분        0
개봉연도        0
평균 제작비      0
dtype: int64

In [23]:
## 데이터 필요없는 컬럼 삭제
new_df = new_df.drop(['감독', '제작사', '수입사', '영화유형', '영화형태'], axis=1)

In [24]:
## 중복 영화 확인
new_df['영화명'].value_counts()

스파이          2
미녀와 야수       2
나를 찾아줘       2
삼총사 3D       1
픽셀           1
            ..
지.아이.조 2     1
노무현입니다       1
집으로 가는 길     1
악마를 보았다      1
하늘을 걷는 남자    1
Name: 영화명, Length: 915, dtype: int64

In [25]:
## 중복 영화 변경(국적으로 나누기)

new_df.loc[146, '영화명'] = '스파이(한)'
new_df.loc[248, '영화명'] = '스파이(미)'
new_df.loc[83, '영화명'] = '미녀와 야수(미)'
new_df.loc[887, '영화명'] = '미녀와 야수(프)'
new_df.loc[321, '영화명'] = '나를 찾아줘(미)'
new_df.loc[625, '영화명'] = '나를 찾아줘(한)'

In [26]:
## 국적 컬럼 변경 (국내 : 1, 해외 : 0)

nation = {
    "한국": 1,
}

new_df['국적'] = new_df['국적'].map(nation).fillna(0)

In [27]:
## 영화등급 컬럼 변경

grade = {
    "청소년관람불가": 0,
    "15세이상관람가": 1,
    "12세이상관람가": 2,
    "전체관람가": 3,
    "청소년관람불가,15세이상관람가" : 0,
}

new_df['등급'] = new_df['등급'].map(grade)

In [28]:
## 영화구분 분류 (1 : 일반영화, 0 : 독립/예술영화)

m = {
    "일반영화": 1,
    "독립/예술영화": 0
}

new_df['영화구분'] = new_df['영화구분'].map(m)

## 파생변수 생성(1)

---
### 배급사
* 상장배급사 (상장 : 1, 비상장 : 0)
* 국내배급사 (국내 : 1, 해외 : 0)
* 주요배급사 (메이저 : 1, 비메이저 : 0)

In [29]:
# 배급사 컬럼만 추출
gg = new_df['배급사']

# 배급사 컬럼에서 외국 영화사명 포함된 values 추출 및 병합
a1 = gg[gg.str.contains("디즈니")]
a2 = gg[gg.str.contains("워너브러더스")]
a3 = gg[gg.str.contains("폭스")]
a4 = gg[gg.str.contains("소니")]
a5 = gg[gg.str.contains("유니버설")]
kkk = pd.concat([a1, a2, a3, a4, a5], axis=0)

# 새로 생성된 컬럼 범주화(0,1)

for i in kkk:
    for j in range(len(new_df)):
        if i in new_df['배급사'][j]:
            new_df.loc[j, '국내배급사'] = 1

ttt = new_df['국내배급사']
ttt.fillna(0, inplace=True)

# 배급사 컬럼에서 상장된 회사 추출 및 병합
b1 = gg[gg.str.contains("씨제이")]
b2 = gg[gg.str.contains("CJ")]
b3 = gg[gg.str.contains("CGV")]
b4 = gg[gg.str.contains("롯데")]
b5 = gg[gg.str.contains("NEW")]
b6 = gg[gg.str.contains("쇼박스")]
b7 = gg[gg.str.contains("스튜디오미르")]
b8 = gg[gg.str.contains("위지윅스튜디오")]
b9 = gg[gg.str.contains("덱스터")]
b10 = gg[gg.str.contains("samg엔터")]
b11= gg[gg.str.contains("애니플러스")]
b12 = gg[gg.str.contains("바른손이앤에이")]
b13 = gg[gg.str.contains("판타지오")]
b14= gg[gg.str.contains("스튜디오산타클로스")]
b15= gg[gg.str.contains("아센디오")]
b16 = gg[gg.str.contains("IHQ")]
b17= gg[gg.str.contains("콘텐트리중앙")]

kkkk = pd.concat([b1, b2, b3, b4, b5, b6, b7, b8, b9, b10, b11, b12, b13, b14, b15, b16, b17], axis=0)

# 새로 생성된 컬럼 범주화(0,1)

for i in kkkk:
    for j in range(len(new_df)):
        if i in new_df['배급사'][j]:
            new_df.loc[j, '상장배급사'] = 1

new_df['상장배급사'].fillna(0, inplace=True)
ttttt = new_df['상장배급사']

# 배급사(메이저 비메이저) 컬럼 0,1로 변환(바이너리)후 새 컬럼에 삽입
new_df['배급사'] = new_df['배급사'].fillna('aa')

ls = ['이엔엠', 'CJ', '롯데', '쇼박스', '판다', '메가박스', '워너', '유니버설', '소니픽', '디즈니', '판씨', '키다리', 'NEW', '엣나인', '이수', '리틀', '스마일이', '팝엔', '오퍼스', '코리아스', '이십세기', '올스타']

for i in ls:
    for j in range(len(new_df)):
        if i in new_df['배급사'][j]:
            new_df.loc[:, '배급사'][j] = 'O'
            
new_df['주요배급사'] = new_df['배급사'].map(lambda x: 1 if x == 'O' else 0)

new_df['주요배급사'].value_counts()

# 배급사 컬럼 삭제
new_df = new_df.drop('배급사', axis=1)

# 주식지수 삽입
* 개봉일 시가, 판매일 수정종가

In [30]:
## 데이터 로드

# 업종지수
movie_index = pd.read_csv('../datasets/movie_index.csv', index_col=0)
# 국고채10년 금리 데이터
market_rate = pd.read_csv('../datasets/market_rate.csv')

In [31]:
## 일자 시계열데이터로 변경, 수정주가지수, 12일 뒤 주가지수 컬럼 생성
movie_index['일자'] = pd.to_datetime(movie_index['일자'])

movie_index['수정주가지수12'] = movie_index['수정주가지수'].shift(11)
movie_index.columns = ['개봉일', '수정주가지수', '수정주가지수12']

movie_index.head()

         개봉일      수정주가지수  수정주가지수12
0 2019-12-30  284.909520       NaN
1 2019-12-27  281.475255       NaN
2 2019-12-26  277.548066       NaN
3 2019-12-24  275.803342       NaN
4 2019-12-23  279.196411       NaN

In [32]:
## 개봉일 기준 주가지수, 수정주가지수 merge, 결측치(주말, 공휴일 등) interpolate 처리

new_df['개봉일'] = pd.to_datetime(new_df['개봉일'])
new_df = new_df.reset_index(drop='index')
new_df = pd.merge(new_df, movie_index, how='left', on='개봉일')
new_df['수정주가지수'] = new_df['수정주가지수'].interpolate()
new_df['수정주가지수12'] = new_df['수정주가지수12'].interpolate()

In [33]:
## 국고채금리 데이터 수정
market_rate = market_rate.drop(['통계표', '단위', '변환'], axis=1)
market = market_rate.T
market = market.reset_index()
market.columns = ["개봉연도", "KORIBOR(12개월)","CD(91일)","CP(91일)","국고채(10년)"]
market = market.iloc[1:]
market['개봉연도'] = market['개봉연도'].astype(int)

In [34]:
market['KORIBOR(12개월)'] = market['KORIBOR(12개월)'].astype(float)
market['CD(91일)'] = market['CD(91일)'].astype(float)
market['CP(91일)'] = market['CP(91일)'].astype(float)
market['국고채(10년)'] = market['국고채(10년)'].astype(float)

In [35]:
market_bond = market[['개봉연도', '국고채(10년)']]
market_bond

    개봉연도  국고채(10년)
1   2010     4.770
2   2011     4.200
3   2012     3.450
4   2013     3.280
5   2014     3.183
6   2015     2.304
7   2016     1.749
8   2017     2.281
9   2018     2.502
10  2019     1.700

In [36]:
## 국고채 금리 원본 데이터에 merge로 결합
new_df = pd.merge(new_df, market_bond, how='left', on='개봉연도')

In [37]:
## 수익률 컬럼 생성
# 12일 수익률 컬럼 생성
new_df['12일수익률'] = (new_df['수정주가지수12'] - new_df['수정주가지수']) / new_df['수정주가지수']

# 일일 수익률 컬럼 생성
new_df['일일수익률'] = (new_df['12일수익률'] + 1) ** (1/12) - 1

# 연간 수익률 컬럼 생성
new_df['연간수익률'] = ((1 + new_df['일일수익률']) ** 252 - 1) * 100

In [38]:
new_df.head()

,영화명,개봉일,국적,전국스크린수,전국매출액,전국관객수,서울매출액,서울관객수,장르,등급,...,평균 제작비,국내배급사,상장배급사,주요배급사,수정주가지수,수정주가지수12,국고채(10년),12일수익률,일일수익률,연간수익률
0,명량,2014-07-30,1.0,1587,135748398910,17613682,3.312123e+10,4163666,사극,1,...,20.1,0.0,1.0,1,289.105978,276.149475,3.183,-0.044816,-0.003814,-61.820507
1,극한직업,2019-01-23,1.0,1978,139647979516,16264944,3.185866e+10,3638287,코미디,1,...,29.0,0.0,1.0,1,352.413384,359.825668,1.700,0.021033,0.001736,54.822719
2,신과함께-죄와 벌,2017-12-20,1.0,1912,115698654137,14410754,2.753083e+10,3346172,판타지,2,...,26.3,0.0,1.0,1,294.796475,282.880336,2.281,-0.040422,-0.003433,-57.957365
3,국제시장,2014-12-17,1.0,966,110828014630,14245998,2.584252e+10,3233946,드라마,2,...,20.1,0.0,1.0,1,257.122593,230.748811,3.183,-0.102573,-0.008978,-89.696522
4,어벤져스: 엔드게임,2019-04-24,0.0,2835,122182694160,13934592,3.357714e+10,3597963,액션,2,...,29.0,1.0,0.0,1,389.588333,342.474973,1.700,-0.120931,-0.010684,-93.324545

## 파생변수 생성(2)

---
### 개봉일 데이터
* 개봉일 관객수
* 개봉일 매출액	
* 개봉일 전체영화의 매출총액 대비 해당영화의 매출비율

In [39]:
## 개봉일 데이터 로드
opendf = pd.read_csv('../datasets/해당일관객수.csv')

In [40]:
opendf

,개봉일,영화명,해당일의 관객수,당일 매출액,해당일자 매출총액 대비 해당 영화의 매출비율
0,2010-01-07,쏘우-여섯번의 기회,2397,18286500,0.7
1,2010-01-07,더 로드,17073,122211500,4.4
2,2010-01-07,용서는 없다,50747,374717500,13.6
3,2010-01-07,극장판파워레인저 엔진포스VS 와일드스피릿,9169,62595500,2.3
4,2010-01-13,파라노말 액티비티,20881,149683500,6.2
...,...,...,...,...,...
1956,2019-12-24,프린스 코기,7605,50153860,0.6
1957,2019-12-24,캣츠,186889,1565114230,19.3
1958,2019-12-24,눈의 여왕4,9093,64915320,0.8
1959,2019-12-26,천문: 하늘에 묻는다,147537,886118900,17.1
1960,2019-12-31,미드웨이,131880,1071629520,15.0

In [42]:
# 영화명 좌우 빈칸 삭제
new_df['영화명'] = new_df['영화명'].str.strip()

In [45]:
# 영화명 좌우 빈칸 삭제
opendf['영화명'] = opendf['영화명'].str.strip()

In [46]:
# opendf 영화명 수정

opendf.loc[507, '영화명'] = '나의 PS 파트너'
opendf.loc[627, '영화명'] = '에픽 : 숲속의 전설'
opendf.loc[380, '영화명'] = '존 카터: 바숨 전쟁의 서막'
opendf.loc[346, '영화명'] = '프렌즈: 몬스터섬의비밀'
opendf.loc[504, '영화명'] = '음치 클리닉'

In [47]:
# 로우 데이터와 결합
law_data = pd.merge(new_df, opendf, how='left', on='영화명')

In [48]:
law_data[law_data['해당일의 관객수'].isna()]

,영화명,개봉일_x,국적,전국스크린수,전국매출액,전국관객수,서울매출액,서울관객수,장르,등급,...,수정주가지수,수정주가지수12,국고채(10년),12일수익률,일일수익률,연간수익률,개봉일_y,해당일의 관객수,당일 매출액,해당일자 매출총액 대비 해당 영화의 매출비율
489,슈퍼 배드,2010-09-16,0.0,321,9873975412,1043904,2.753597e+09,272176,애니메이션,3,...,145.057482,146.856175,4.770,0.012400,0.001027,29.536933,NaN,NaN,NaN,NaN
790,"울지마, 톤즈",2010-09-09,1.0,22,2529614776,441707,1.084744e+09,174478,다큐멘터리,3,...,147.923352,146.886591,4.770,-0.007009,-0.000586,-13.731219,NaN,NaN,NaN,NaN
843,내 이름은 칸,2011-03-24,0.0,84,2820922500,381243,1.210674e+09,157628,드라마,2,...,150.706930,167.288437,4.200,0.110025,0.008736,795.337348,NaN,NaN,NaN,NaN
862,극장판 짱구는 못말려: 아뵤! 쿵후 보이즈 ~라면 대란~,2018-12-19,0.0,489,2735399650,353012,3.836368e+08,47840,애니메이션,3,...,404.250275,341.022003,2.502,-0.156409,-0.014074,-97.189565,NaN,NaN,NaN,NaN

In [49]:
# new_df에는 있지만 opendf(개봉일데이터)에는 없는 영화 4개 드랍 (슈퍼 배드, 울지마 톤즈, 내 이름은 칸, 극장판 짱구는 못말려: 아뵤! 쿵후 보이즈 ~라면 대란~)

law_data = law_data.drop([488, 789, 842, 861], axis = 0)

In [50]:
law_data = law_data[law_data['개봉일_x'] == law_data['개봉일_y']]

In [51]:
law_data['영화명'].value_counts()

점박이 한반도의 공룡2 : 새로운 낙원    2
스윙키즈                     2
아쿠아맨                     2
호두까기 인형과 4개의 왕국          2
국가부도의 날                  2
                        ..
테이큰 3                    1
코리아                      1
지.아이.조 2                 1
노무현입니다                   1
하늘을 걷는 남자                1
Name: 영화명, Length: 910, dtype: int64

In [52]:
# 중복영화 삭제
law_data = law_data.drop_duplicates(subset=['영화명'])

In [53]:
law_data.reset_index(drop='index', inplace=True)

In [55]:
law_data['영화명'].value_counts()

명량           1
머니볼          1
인페르노         1
명탐정 피카츄      1
스텝 업 3D      1
            ..
마약왕          1
테이큰 3        1
코리아          1
지.아이.조 2     1
하늘을 걷는 남자    1
Name: 영화명, Length: 910, dtype: int64

## 타겟 컬럼 생성 및 로우데이터 제작

In [56]:
# Y 레이블 제작

law_data['타겟'] = 0

for i in range(len(law_data)):
    if law_data['연간수익률'][i] > law_data['국고채(10년)'][i]:
        law_data['타겟'][i] = 1

In [57]:
# 필요없는 컬럼 삭제
law_data = law_data.drop(['수정주가지수', '수정주가지수12', '국고채(10년)', '12일수익률', '일일수익률', '연간수익률', '개봉일_y'], axis=1)

In [58]:
law_data

,영화명,개봉일_x,국적,전국스크린수,전국매출액,전국관객수,서울매출액,서울관객수,장르,등급,영화구분,개봉연도,평균 제작비,국내배급사,상장배급사,주요배급사,해당일의 관객수,당일 매출액,해당일자 매출총액 대비 해당 영화의 매출비율,타겟
0,명량,2014-07-30,1.0,1587,135748398910,17613682,3.312123e+10,4163666,사극,1,1,2014,20.1,0.0,1.0,1,682701.0,4.708879e+09,61.6,0
1,극한직업,2019-01-23,1.0,1978,139647979516,16264944,3.185866e+10,3638287,코미디,1,1,2019,29.0,0.0,1.0,1,368582.0,3.004763e+09,73.2,1
2,신과함께-죄와 벌,2017-12-20,1.0,1912,115698654137,14410754,2.753083e+10,3346172,판타지,2,1,2017,26.3,0.0,1.0,1,406365.0,2.984151e+09,63.2,0
3,국제시장,2014-12-17,1.0,966,110828014630,14245998,2.584252e+10,3233946,드라마,2,1,2014,20.1,0.0,1.0,1,184756.0,1.356870e+09,31.0,0
4,어벤져스: 엔드게임,2019-04-24,0.0,2835,122182694160,13934592,3.357714e+10,3597963,액션,2,1,2019,29.0,1.0,0.0,1,1338729.0,9.678990e+09,97.1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
905,스파이 브릿지,2015-11-05,0.0,425,2015360478,260721,7.222464e+08,90018,스릴러,2,1,2015,19.9,1.0,0.0,1,18404.0,1.352783e+08,5.6,1
906,함정,2015-09-10,1.0,445,2088685200,257716,4.114176e+08,50477,스릴러,0,1,2015,19.9,0.0,0.0,0,32277.0,2.502558e+08,13.1,0
907,파이널 데스티네이션5,2011-09-08,0.0,168,2370348500,257193,8.800060e+08,87499,공포(호러),0,1,2011,22.7,1.0,0.0,1,12613.0,1.180325e+08,7.5,1
908,언브로큰,2015-01-07,0.0,401,1997947292,256475,6.057764e+08,75489,액션,1,1,2015,19.9,1.0,0.0,1,26707.0,1.993983e+08,5.8,0
909,하늘을 걷는 남자,2015-10-28,0.0,415,2267273653,238257,9.107222e+08,92402,드라마,2,1,2015,19.9,1.0,0.0,1,19675.0,1.432000e+08,6.4,0

In [59]:
# 컬럼 이름 변경
law_data = law_data.rename(columns={'개봉일_x' : '개봉일', '해당일의 관객수' : '개봉일관객수', '당일 매출액' : '개봉일매출액', '해당일자 매출총액 대비 해당 영화의 매출비율':'개봉일매출비율'})

In [60]:
# law_data 제작!!!
law_data.to_csv('../datasets/LAWDATA.csv')

In [61]:
law_data

,영화명,개봉일,국적,전국스크린수,전국매출액,전국관객수,서울매출액,서울관객수,장르,등급,영화구분,개봉연도,평균 제작비,국내배급사,상장배급사,주요배급사,개봉일관객수,개봉일매출액,개봉일매출비율,타겟
0,명량,2014-07-30,1.0,1587,135748398910,17613682,3.312123e+10,4163666,사극,1,1,2014,20.1,0.0,1.0,1,682701.0,4.708879e+09,61.6,0
1,극한직업,2019-01-23,1.0,1978,139647979516,16264944,3.185866e+10,3638287,코미디,1,1,2019,29.0,0.0,1.0,1,368582.0,3.004763e+09,73.2,1
2,신과함께-죄와 벌,2017-12-20,1.0,1912,115698654137,14410754,2.753083e+10,3346172,판타지,2,1,2017,26.3,0.0,1.0,1,406365.0,2.984151e+09,63.2,0
3,국제시장,2014-12-17,1.0,966,110828014630,14245998,2.584252e+10,3233946,드라마,2,1,2014,20.1,0.0,1.0,1,184756.0,1.356870e+09,31.0,0
4,어벤져스: 엔드게임,2019-04-24,0.0,2835,122182694160,13934592,3.357714e+10,3597963,액션,2,1,2019,29.0,1.0,0.0,1,1338729.0,9.678990e+09,97.1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
905,스파이 브릿지,2015-11-05,0.0,425,2015360478,260721,7.222464e+08,90018,스릴러,2,1,2015,19.9,1.0,0.0,1,18404.0,1.352783e+08,5.6,1
906,함정,2015-09-10,1.0,445,2088685200,257716,4.114176e+08,50477,스릴러,0,1,2015,19.9,0.0,0.0,0,32277.0,2.502558e+08,13.1,0
907,파이널 데스티네이션5,2011-09-08,0.0,168,2370348500,257193,8.800060e+08,87499,공포(호러),0,1,2011,22.7,1.0,0.0,1,12613.0,1.180325e+08,7.5,1
908,언브로큰,2015-01-07,0.0,401,1997947292,256475,6.057764e+08,75489,액션,1,1,2015,19.9,1.0,0.0,1,26707.0,1.993983e+08,5.8,0
909,하늘을 걷는 남자,2015-10-28,0.0,415,2267273653,238257,9.107222e+08,92402,드라마,2,1,2015,19.9,1.0,0.0,1,19675.0,1.432000e+08,6.4,0